<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="username" value="javals1"/>
    <add key="siteurl" value="https://ppewww.avivaworld.com"/>
    <add key="isonline" value="false"/>
    <add key="domain" value="avivagroup"/>
  </appSettings>
</configuration>